h1 Video Editing
hr

= video_tag rails_blob_path(@concat_video_blob), controls: true
br
h5 Duration : #{@ffprobe_json[:format][:duration]}
br
= button_tag 'get current timestamp', type: :button, id: 'get-timestamp'
= text_field_tag 'name', '', readonly: true, id: 'get-timestamp-field'
hr
= form_tag create_path, method: :post do
  = label_tag 'name'
  = text_field_tag 'name'
  br
  = label_tag 'format'
  = text_field_tag 'format', '', placeholder: File.extname(@concat_video_blob.filename.to_s)
  br
  = label_tag 'width'
  = text_field_tag 'width', '', placeholder: @ffprobe_json[:streams][0][:coded_width]
  br
  = label_tag 'height'
  = text_field_tag 'height', '', placeholder: @ffprobe_json[:streams][0][:coded_height]
  br
  = label_tag 'cut'
  = button_tag 'add cutting field', type: :button, id: 'add-cut-button'
  = button_tag 'clear cutting fields', type: :button, id: 'clear-cut-button'
  .cuts-field
    .cut-field-class
      = text_field_tag 'starting[]', '', placeholder: 'hh:mm:ss.0000'
      |  - 
      = text_field_tag 'ending[]', '', placeholder: 'hh:mm:ss.0000'
  br
  = hidden_field_tag 'file', @concat_video_blob.key
  = submit_tag 'save'

h3 Ffprobe
h4 Streams
- @ffprobe_json[:streams].each do |stream|
  table style="border-collapse: collapse;"
    - stream.keys.each do |k|
        tr
          th = k
          td = stream[k]
  br
h4 Format
table style="border-collapse: collapse;"
  - @ffprobe_json[:format].each do |k, v|
    tr
      th = k
      td = v
br
h4 Chapters
p = @ffprobe_json[:chapters]


javascript:
  $("tr, table").prop("border", "1px solid black")

  function GetTimestampStringFormat(time){
    let miliseconds = time.toString().split(".")[1] || ("")
    let value = new Date(time * 1000).toISOString().substr(11, 8) + "." + miliseconds
    return value
  }

  let cut_field = $(".cut-field-class").html()
  $(".cuts-field").html("")

  $("#add-cut-button").click(function(){
    $(".cuts-field").append(
      "<br>" + ($(".cut-field-class").length + 1) + ")<div class='cut-field-class'>" + cut_field + "</div>"
      )
  })

  $("#clear-cut-button").click(function(){
    $(".cuts-field").html("")
  })

  $("#get-timestamp").click(function(){
    $("#get-timestamp-field").val(GetTimestampStringFormat($("video")[0].currentTime))
  })