h1 Video Uploading
hr
| *tick the checkbox to select resolution, if there aren't any checkboxes ticked, the first file's resolution will be selected
= form_tag edit_path, method: :post, multipart: true do
  .files-field
    .file-field-class
      = file_field_tag 'files[]'
  br
  = button_tag 'add file', type: 'button', id: 'add-file-button'
  = button_tag 'clear files', type: 'button', id: 'clear-file-button'
  br
  = submit_tag 'upload'
end

hr
h2 Video list
- @videos.each do |video|
  .video
    h5
      = video.name
    h5
      = link_to 'delete', delete_path(video), method: :delete
    h5
      a href="#{url_for(video.file)}" download="#{video.file}" download
    = video_tag rails_blob_path(video.file), controls: true
hr

javascript:
  let file_field = $(".file-field-class").html()
  $(".files-field").html("")

  $("#add-file-button").click(function(){
    $(".files-field").append(
      "<br>" + ($(".file-field-class").length + 1) + ")<div class='file-field-class'>" + file_field + "<input type='checkbox' value='true' onchange='setOtherFalse(" + ($(".file-field-class").length) + ")' name='resolutions[" + ($(".file-field-class").length + 1) + "]'></div>"
      )
  })

  $("#clear-file-button").click(function(){
    $(".files-field").html("")
  })

  function setOtherFalse(index)
  {
    for(var i = 0; i < $("input[type='checkbox']").length; i++){
      if(i != index) $("input[type='checkbox']")[i].checked = false;
    }
  }
